.d3-tip {
	line-height: 1;
	font-weight: 700;
	padding: 12px;
	background: rgba(0,0,0,0.8);
	color: #fff;
	border-radius: 2px;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
	margin: -1px 0 0;
	top: 100%;
	left: 0;
}

.background {
	fill: lightgray;
	stroke-width: 10;
	pointer-events: all;
	stroke: #65BC4F;
}

#northarrow {
	position: absolute;
	left: 440px;
	top: 20px;
	z-index: 2;
	height: auto;
	width: auto;
	max-width: 60px;
	max-height: 60px;
}

#parcel {
	fill: #296519;
	stroke-width: 10px;
	stroke-opacity: .1;
	stroke: green;
	cursor: pointer;
	position: absolute;
}

#River,#lake {
	fill: #1e90ff;
	stroke: none !important;
}

#place {
	fill: #fafad2;
	stroke: grey !important;
	stroke-width: .2px !important;
}

#parcel.active {
	fill: #6b8e23;
	stroke: none;
}

/*#parcel:hover {
    stroke-width: 1px;
    stroke: orangered;
}*/
#parcel.active:hover {
	stroke: none;
}

.mesh {
	fill: none;
	stroke-width: .1px !important;
	stroke: #000 !important;
	stroke-linecap: round;
	stroke-linejoin: round;
}

#map {
	float: left;
}



#details {
    display:flex;
    padding: 10px;
}