

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.background {
  fill: lightgreen;
  pointer-events: all;
  
}



#parcel {
  fill: #296519;
  cursor: pointer;
  position: absolute;
}

#River,#lake {
    fill: dodgerblue;
}

#place {
    fill: lightgoldenrodyellow;
    stroke: grey;
    stroke-width: 0.2px;
}

#parcel.active {
  fill: olivedrab;
  stroke: none;
}

/*#parcel:hover {
    stroke-width: 1px;
    stroke: orangered;
}*/

#parcel.active:hover {
    stroke: none;
}

.mesh {
  fill: none;
  stroke-width: 0.1px;
  stroke: black;
  stroke-linecap: round;
  stroke-linejoin: round;
}

body {
  font: 12px sans-serif;
}